{{#if @model.archived}}
  <p class="subtitle has-text-white my-2">
    The user is currently archived.
  </p>
{{/if}}
<button class="button" type="button">
  {{if @model.archived "Unarchive" "Archive"}}
</button>